@font-face {
    font-family: 'Tilda Sans';
    src: url('https://static.tildacdn.com/fonts/tildasans/tildasans.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/tildasans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
       font-family: 'Tilda Sans', sans-serif;
}

img {
    border-radius: 10px; 
} 



/***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
