@font-face {
    font-family: 'Tilda Sans';
    src: url('https://static.tildacdn.com/fonts/tildasans/tildasans.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/tildasans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Tilda Sans', sans-serif;
}

img {
    border-radius: 10px; /* Скругляет углы изображения с радиусом 10 пикселей */
}
