@font-face {
  font-family: 'TildaSans';
  src: url('../fonts/TildaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TildaSans';
  src: url('../fonts/TildaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'TildaSans', sans-serif;
}

